
.font-circular {
  font-family: "Circular Std Bold", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.text-7xl {
  font-size: 5rem;
}

.text-8xl {
  font-size: 6rem;
}

@media (min-width: 768px) {

  .md\:text-7xl {
    font-size: 5rem;
  }

  .md\:text-8xl {
    font-size: 6rem;
  }

}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
