discord.py==1.7.0
aiohttp==3.7.4.post0
gidgethub==5.0.1
python-dotenv==0.16.0
fuzzywuzzy~=0.18.0
python-Levenshtein==0.12.2
motor==2.3.1
dnspython==2.1.0
psutil==5.8.0
dblpy==0.4.0
dlabs.py
statcord.py
beautifulsoup4~=4.9.3
