discord.py==1.6.0
aiohttp==3.7.3
gidgethub==5.0.0
python-dotenv==0.15.0
fuzzywuzzy~=0.18.0
python-Levenshtein==0.12.1
motor==2.3.0
dnspython==2.1.0
psutil==5.8.0
dblpy==0.4.0
dlabs.py
statcord.py
beautifulsoup4~=4.9.3