name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1.1.1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Hi! This is your first issue, we''re glad to have you with us :smile: Make sure to follow the [code of conduct.](https://github.com/statch/gitbot/blob/main/CODE_OF_CONDUCT.md) Happy coding!'
        pr-message: 'Hi! This is your first pull request, we''re glad to have you with us :smile: Make sure to follow the [contribution guidelines.](https://github.com/statch/gitbot/blob/main/CONTRIBUTING.md) Happy coding!'
